table {
	width: 100%;
/* 	max-width: 100%; !important */
}

table.dataTable th {
	white-space: nowrap;
}

table.dataTable td {
	/* white-space: nowrap; */
}

.dataTables_wrapper {
	margin: 10px 0px;
}

body {
	padding-bottom: 70px;
}